:root {
    --main-color: #D84282;
}

#menu {
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
    content: "";
    width: 50px;
    height: 5px;
    background-color: var(--main-color);
}
#menu::before {
    margin-top: 15px;
    margin-left: 0px;
    display: inline-block;
    content: "";
    width: 50px;
    height: 5px;
    background-color: var(--main-color);
}

#menu::after {
    margin-left: 0px;
    display: inline-block;
    content: "";
    width: 50px;
    height: 5px;
    background-color: var(--main-color);
}